@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700,900');


body {
    font-family: 'Roboto', arial, sans-serif;
    background-image: url("../assets/app/Background.png");
    background-color: #FBFDFE;
    background-repeat: repeat-x;
}

.container {
    /* https://stackoverflow.com/a/44477838 for centering flexbox itself*/
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.header-bar {
    display: flex;
    width: 100%;
    height: 7.5%;
    
    background-image: url("../assets/app/Header_bar.png");
    background-repeat: no-repeat;
    background-size: cover; /* https://stackoverflow.com/questions/38295001/make-background-image-to-fit-in-flex-container */
}

#rectangle-150 {
    display: flex;
    width: 100vw;
    height: 7.5vh;
    
    background: #FFFFFF;
}

#rectangle-151 {
    display: flex;
    width: 100vw;
    height: 7.5vh;
    
    background: linear-gradient(90.21deg, #053ED1 0%, #0F4EAC 100%);
}

#ellipse-49 {
    display: flex;
    width: 16%;
    height: 23%;
    left: 85%;
    top: 4%;
    
    background: linear-gradient(90.2deg, #097AFF 5.78%, #0041E8 100%);
    opacity: 0.6;
    transform: rotate(-25.13deg);
}

#ellipse-50 {
    display: flex;
    width: 16%;
    height: 23%;
    left: 0%;
    top: 4%;

    background: linear-gradient(90.2deg, #097AFF 5.78%, #0041E8 100%);
    opacity: 0.6;
    transform: rotate(-25.13deg);
}

.logout {
    position: absolute;
    left: 91.81%;
    right: 2.69%;
    top: 2.00%;
    bottom: 41.71%;
}

.profile {
    display: flex;
    flex-direction: row;
}

#my-profile-ellipse {
    /*
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    */
}

#my-profile-avatar {
    width: 54px;
    height: 54px;

    margin-top: 12px;
    margin-left: 62px;
    margin-bottom: 14px;
    
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
}

#my-profile-info {
    margin-top: 16px;
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

#my-profile-name {    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;
}

#my-profile-email {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #FFFFFF;
}

.contacts-title-container {
    display: flex;
    flex-direction: row;
}

#contacts-title {
    position: absolute;
    width: 136px;
    height: 39px;
    left: 189px;
    top: 110px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 39px;
    
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #053ED1;
}

#contacts-count {
    position: absolute;
    width: 55px;
    height: 24px;
    left: 320px;
    top: 121px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    align-items: center;
    text-align: center;
    letter-spacing: 0.08em;
    
    color: #053ED1;
}

.contact-header {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
}

.contact-header-item {    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #B0C6FF;
}

#contacts_list {
    display: flex;
    flex-direction: column;
    margin-left: 189px;
    margin-right: 189px;
    margin-top: 115px;
}

.contact-person {
    display: flex;
    flex-direction: row;
}

.contact-bar {
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 10px; /* Protip: Use absolute pixel values rather than percentages */
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 60px;

    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(5, 62, 209, 0.14);
    border-radius: 8px;
}

.contact-name-avatar-container {
    display: flex;
    flex-direction: row;
}

.contact-avatar {
    border: 1px solid #FF0000;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}

.contact-name {    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 0.08em;
    
    color: #000000;
}

.contact-email {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    
    color: #000000;
}

.contact-phone {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    letter-spacing: 0.08em;
    
    color: #000000;
}